.container-perfil{
    display: flex;
    background-color: #6b0f47;
    height: 100vh;
    color: #ffffff;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

h2 {
    color: black;
    width: 100vw;
    text-align: center;
    background-color: beige;
    margin: 0;
    font-size: 34px;
    padding: auto;
}