
.Carrito-container {
  font-size: 20px;
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

.tituloCarrito {
    height: 20px;
    text-align:start;
  color:#ffffff;
  background-color: #AB0C70;
  text-align: center;
  margin: 0;
  
}

h2.tituloCarrito {
    display: flex;
    text-align: center;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    padding: 15px;
}

.itemsLista {
  margin-left: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

:hover.Carrito-item {
  box-shadow: 0px 1px 4px 1px #bb4b92;
  position: relative;
  width: 770px;
  margin-top: 12px;
  background-color: #fcd4f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Carrito-item {
  box-shadow: 0px 1px 4px 1px #520837;
  position: relative;
  width: 770px;
  margin-top: 12px;
  background-color: #fff8dc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Cantidad-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 14px;
}

:hover.Boton-Eliminar {
   top: 39px;
    left: -23px;
    position: relative;
    background-color: white;
    color:  #AB0C70;
    padding: 8px;
    border: none;
    border-radius: 23px;
    cursor: pointer;
}

.Boton-Eliminar {
    top: 39px;
    left: -23px;
    position: relative;
    background-color: #AB0C70;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 23px;
    cursor: pointer;
}

.Carrito-total {
  box-shadow: 0px 1px 4px 1px #7a7a7a;
    top: -8px;
    left: 460px;
    position: relative;
    border-radius: 16px;
    background: white;
    width: 58%;
    text-align: center;
}

:hover.Boton-Comprar {
    box-shadow: 0px 1px 8px 1px #7a7a7a;
    height: 26px;
    width: -webkit-fill-available;
    background-color: #AB0C70;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 0px 1px 1px #7a7a7a;
    cursor: pointer;
}
.Boton-Comprar {
    font-size: 20px;
    width: -webkit-fill-available;
    height: 26px;
    background-color: #dce4dd;
    color: #AB0C70;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 0px 1px 1px #7a7a7a;
    cursor: pointer;
}

.Aumentar-cantidad,
.Disminuir-cantidad {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}
.cantidad-input {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  background: #6A1452;
  width: 50px;
    height: 30px;
  border-radius: 30px;
  text-align: center;
  font: inherit;
  box-sizing: border-box;
  color:white;
}

.cantidad-input::-webkit-outer-spin-button,
.cantidad-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

