.footer {
    margin: 0;
    margin-top: 40px;
    background: #FCEFB0;
    color: black;
    padding: 20px 0;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
}

.footer-contenedor {
  width: 100vw;
  margin: auto;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}

.footer-info h3 {
  font-size: 22px;
  margin-bottom: 5px;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
}

.footer-links a:hover {
  color: #9c1095;
}

.footer-social a {
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin: 0 8px;
}

.footer-social a:hover {
  color: #7a095e;
}

.footer-copy {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.7;
}

@media (max-width: 700px) {
  .footer-contenedor {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}
